.resim1{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.borderbot{
    
    border-bottom-style:groove;
    border-bottom-color: black;
    border-bottom-width:thin;
    
}
.navbarsag{
    margin-left: auto;
    margin-right:350px;
}
.bosluk{
    margin-left:300px;
}

.getstart{
    margin-left:15px;
}
.bgcolor{
    background-color: rgb(255, 192, 23);

}

.curious{
    font-size:90px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:110px;
}
.border1{
    border-radius: 30px;
    font-size:18px;
    padding:10px 50px 10px 50px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    margin:35px 0 0 0;
}
.margin{
    margin:0px 0px 0px 300px;
}
.margin2{
    margin:120px 0 0 0;
}


.renk{
    
    color:rgb(255, 192, 23);
}
.float{
    float:right;
}
.yazi{
    font-size:35px;
    color: rgba(230, 230, 230, 1);
    
}
.center{
    text-align: center;
}
.margin3{
    margin:0px 0px 0px 30px;
}